*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
	text-align: right;
	font-family:  'Poppins', sans-serif;
	word-spacing: 20px;
	text-decoration: none;
	font-size: 23px;
	margin: 0px;
}
body {
	background: url("https://i.pinimg.com/564x/a3/d2/9c/a3d29c0f6719f2fc541a1e34c3bfd9f9.jpg");
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.header {
	text-decoration: none;
	color: black;
}
h2{
	font-size: 50px;
	font-family: 'Poppins', sans-serif;
	color: black;
}
p {
	font-size: 35px;
	font-family: 'Poppins', sans-serif;
	color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
	display: inline-block;
}
li a{
	display: block;
  	padding: 8px;
  	font-size: 20px;
  	text-decoration: none;
  	color: black;
  	border-right: 1px solid #bbb;
}
li a:hover {
  background-color: darkgrey;
}
.fa-facebook {
	color: blue ;
	font-size: 40px;
	padding: 10px;
}
.fa-facebook:hover {
	background-color: grey;
	border-radius: 10px;
}
.fa-instagram {
	color: maroon;
	font-size: 40px;
	padding: 10px;
}
.fa-instagram:hover {
	background-color: grey;
	border-radius: 10px;
}
.fa-twitter {
	color: skyblue;
	font-size: 40px;
	padding: 10px;
}
.fa-twitter:hover {
	background-color: grey;
	border-radius: 10px;
}
.fa-linkedin {
	color: blue;
	font-size: 40px;
	padding: 10px;
}
.fa-linkedin:hover {
	background-color: grey;
	border-radius: 10px;
}

